In [1]:
import pandas as pd
import os

# Ignorar todos los warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
path="C:/Users/galla/Dropbox/PC/Documents/1 Pedro G Gallardo/Master IA y Big Data/Casa/proyecto tesla/ProyectoTesla/data/raw/tesla.com"
os.chdir(path)
coches_pedro = pd.read_csv('coches_pedro.csv', sep=';')
coches_pedro

,modelo,descripcion,kilometraje,precio,autonomia,velocidad_max,time_veloc_max,color,año,pais
0,Model S,"Model S, tracción a las cuatro ruedas",Cuentakilómetros con 6197 km,88.890 €,634,250,"3,2",Azul Oscuro Metalizado,2024,España
1,Model S,"Model S, tracción a las cuatro ruedas",Cuentakilómetros con 997 km,90.270 €,634,250,"3,2",Azul Oscuro Metalizado,2024,España
2,Model S,"Model S, tracción a las cuatro ruedas",Cuentakilómetros con 577 km,90.520 €,634,250,"3,2",Negro Sólido,2024,España
3,Model S,"Model S, tracción a las cuatro ruedas",Cuentakilómetros con 1151 km,91.080 €,634,250,"3,2",Pintura en color Gris Sigilo,2024,España
4,Model S,"Model S, tracción a las cuatro ruedas",Cuentakilómetros con 27 km,91.790 €,634,250,"3,2",Pintura en color Gris Sigilo,2024,España
...,...,...,...,...,...,...,...,...,...,...
190,Model X,Plaid,Cuentakilómetros con 20.074 km,84.000 €,543,262,"2,6",Blanco Perla Multicapas,2023,España
191,Model X,Plaid,Cuentakilómetros con 15.048 km,84.600 €,543,262,"2,6",Blanco Perla Multicapas,2023,España
192,Model X,Plaid,Cuentakilómetros con 21.475 km,85.500 €,543,262,"2,6",Plata Medianoche Metalizado,2023,España
193,Model Y,Model Y Tracción trasera,Cuentakilómetros con 12.146 km,40.500 €,430,217,"6,9",Pintura Plateado Mercurio,2024,España
194,Model Y,Performance con tracción a las cuatro ruedas,Cuentakilómetros con 48.582 km,43.800 €,514,250,"3,7",Color Negro Sólido,2023,España

In [3]:
coches_pedro.drop(columns=['descripcion', 'autonomia', 'velocidad_max', 'time_veloc_max'], inplace=True)
coches_pedro

,modelo,kilometraje,precio,color,año,pais
0,Model S,Cuentakilómetros con 6197 km,88.890 €,Azul Oscuro Metalizado,2024,España
1,Model S,Cuentakilómetros con 997 km,90.270 €,Azul Oscuro Metalizado,2024,España
2,Model S,Cuentakilómetros con 577 km,90.520 €,Negro Sólido,2024,España
3,Model S,Cuentakilómetros con 1151 km,91.080 €,Pintura en color Gris Sigilo,2024,España
4,Model S,Cuentakilómetros con 27 km,91.790 €,Pintura en color Gris Sigilo,2024,España
...,...,...,...,...,...,...
190,Model X,Cuentakilómetros con 20.074 km,84.000 €,Blanco Perla Multicapas,2023,España
191,Model X,Cuentakilómetros con 15.048 km,84.600 €,Blanco Perla Multicapas,2023,España
192,Model X,Cuentakilómetros con 21.475 km,85.500 €,Plata Medianoche Metalizado,2023,España
193,Model Y,Cuentakilómetros con 12.146 km,40.500 €,Pintura Plateado Mercurio,2024,España
194,Model Y,Cuentakilómetros con 48.582 km,43.800 €,Color Negro Sólido,2023,España

In [4]:
coches_pedro['modelo'].value_counts()

modelo
Model Y    76
Model 3    65
Model X    29
Model S    25
Name: count, dtype: int64

In [5]:
coches_pedro['kilometraje'].value_counts()

kilometraje
Cuentakilómetros con 0 km         4
Cuentakilómetros con 13 km        3
51.760 €                          3
46.770 €                          2
Cuentakilómetros con 26 km        2
                                 ..
Cuentakilómetros con 20.074 km    1
Cuentakilómetros con 15.048 km    1
Cuentakilómetros con 21.475 km    1
Cuentakilómetros con 12.146 km    1
Cuentakilómetros con 48.582 km    1
Name: count, Length: 175, dtype: int64

In [6]:
coches_copia = coches_pedro.copy()

In [7]:
for i in range(len(coches_pedro['kilometraje'])):
    serie=coches_pedro['kilometraje'][i].split()
    if len(serie) > 2:
        coches_pedro['kilometraje'][i] = serie[2]
    else:
        coches_pedro['kilometraje'][i] = 0

    # print(serie, coches_pedro['kilometraje'][i])

In [8]:
coches_pedro['kilometraje'].value_counts()

kilometraje
0         55
0          4
13         3
26         2
20         2
          ..
20.074     1
15.048     1
21.475     1
12.146     1
48.582     1
Name: count, Length: 131, dtype: int64

In [9]:
coches_pedro['kilometraje'] = coches_pedro['kilometraje'].str.replace('.', '', regex=False)
coches_pedro['kilometraje']

0       6197
1        997
2        577
3       1151
4         27
       ...
190    20074
191    15048
192    21475
193    12146
194    48582
Name: kilometraje, Length: 195, dtype: object

In [10]:
coches_pedro.isna().sum()

modelo          0
kilometraje    55
precio          0
color           0
año             0
pais            0
dtype: int64

In [11]:
coches_pedro['kilometraje'] = coches_pedro['kilometraje'].fillna(0).astype(int)
coches_pedro.dtypes

modelo         object
kilometraje     int64
precio         object
color          object
año             int64
pais           object
dtype: object

In [12]:
for i in range(len(coches_pedro['precio'])):
    serie=coches_pedro['precio'][i].split()
    coches_pedro['precio'][i] = serie[0]

    # print(serie, coches_pedro['precio'][i])

In [13]:
coches_pedro['precio'] = coches_pedro['precio'].str.replace('.', '', regex=False)

In [14]:
coches_pedro['precio'] = coches_pedro['precio'].astype(int)
coches_pedro.dtypes

modelo         object
kilometraje     int64
precio          int64
color          object
año             int64
pais           object
dtype: object

In [15]:
coches_pedro['color'].value_counts()

color
Color Blanco Perla Multicapas     38
Color Negro Sólido                29
Pintura Plateado Mercurio         24
Azul Oscuro Metalizado            22
Blanco Perla Multicapas           20
Pintura en color Gris Sigilo      15
Pintura Rojo Cereza Medianoche    12
Negro Sólido                      11
Color Plateado Lunar               5
Color Multicapas Rojo              5
Plata Medianoche Metalizado        4
Pintura en color Ultra Rojo        3
Ultra Rojo                         2
Pintura negra sólida               2
Metalizada plateada                1
Metalizada negra obsidiana         1
Metalizada azul profundo           1
Name: count, dtype: int64

In [16]:
colores = ['blanco', 'azul', 'plateado', 'plateada', 'negro','gris', 'plata', 'rojo', 'negra']

In [17]:
for i in range(len(coches_pedro['color'])):
    serie = coches_pedro['color'][i].split()
    # print(serie)
    for dato in serie:
        if dato.lower() in (colores):
            # print(dato.lower())
            if dato.lower() == 'plateado':
                coches_pedro['color'][i] = 'plata'
            elif dato.lower() == 'plateada':
                coches_pedro['color'][i] = 'plata'
            elif dato.lower() == 'negra':
                coches_pedro['color'][i] = 'negro'
            else:
                coches_pedro['color'][i] = dato.lower()

In [18]:
coches_pedro['color'].value_counts()

color
blanco    58
negro     43
plata     34
azul      23
rojo      22
gris      15
Name: count, dtype: int64

In [19]:
coches_pedro.dtypes

modelo         object
kilometraje     int64
precio          int64
color          object
año             int64
pais           object
dtype: object

In [20]:
coches_pedro['pais'].value_counts()

pais
España    195
Name: count, dtype: int64

In [21]:
path="C:/Users/galla/Dropbox/PC/Documents/1 Pedro G Gallardo/Master IA y Big Data/Casa/proyecto tesla/ProyectoTesla/data/data_prepared"
os.chdir(path)

In [22]:

coches_pedro.to_csv('tesla_prepared.csv', index=False, encoding='utf-8-sig', sep=';')