In [1]:
import pandas as pd
import os

# Ignorar todos los warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
path="C:/Users/galla/Dropbox/PC/Documents/1 Pedro G Gallardo/Master IA y Big Data/Casa/proyecto tesla/ProyectoTesla/data/raw/autocasion"
os.chdir(path)

In [3]:
coches_ruben=pd.read_csv('coches_ruben.csv', sep=',', encoding='utf-8')
coches_ruben

,modelo,precio,kilometraje,matriculacion,motor,color
0,Model 3 Long-Range Dual Motor AWD,25.990 €,63.000,2022,Eléctrico,azul
1,Model 3 Long-Range Dual Motor AWD,28.490 €,47.479,2020,Eléctrico,azul
2,Model 3 Long-Range Dual Motor AWD,25.940 €,124.839,2019,Eléctrico,azul
3,Model 3 Long-Range Dual Motor AWD,38.890 €,89.831,2019,Eléctrico,azul
4,Model 3 Long-Range Dual Motor AWD,29.700 €,21.318,2020,Eléctrico,azul
...,...,...,...,...,...,...
342,Model 3 Long-Range Dual Motor Performance AWD,37.990 €,Eléctrico,Km0,2023,plata
343,Model 3 Long-Range Dual Motor Performance AWD,29.990 €,123.000,2019,Eléctrico,rojo
344,Model 3 Long-Range Dual Motor Performance AWD,33.990 €,74.910,2021,Eléctrico,rojo
345,Model 3 Long-Range Dual Motor Performance AWD,27.900 €,125.000,2019,Eléctrico,rojo
346,Model 3 Long-Range Dual Motor Performance AWD,29.990 €,123.000,2019,Eléctrico,rojo

In [4]:
coches_ruben.drop(columns=['motor'], inplace=True)

In [5]:
coches_ruben.rename(columns={'matriculacion': 'año'}, inplace=True)
coches_ruben['pais']='España'
coches_ruben

,modelo,precio,kilometraje,año,color,pais
0,Model 3 Long-Range Dual Motor AWD,25.990 €,63.000,2022,azul,España
1,Model 3 Long-Range Dual Motor AWD,28.490 €,47.479,2020,azul,España
2,Model 3 Long-Range Dual Motor AWD,25.940 €,124.839,2019,azul,España
3,Model 3 Long-Range Dual Motor AWD,38.890 €,89.831,2019,azul,España
4,Model 3 Long-Range Dual Motor AWD,29.700 €,21.318,2020,azul,España
...,...,...,...,...,...,...
342,Model 3 Long-Range Dual Motor Performance AWD,37.990 €,Eléctrico,Km0,plata,España
343,Model 3 Long-Range Dual Motor Performance AWD,29.990 €,123.000,2019,rojo,España
344,Model 3 Long-Range Dual Motor Performance AWD,33.990 €,74.910,2021,rojo,España
345,Model 3 Long-Range Dual Motor Performance AWD,27.900 €,125.000,2019,rojo,España
346,Model 3 Long-Range Dual Motor Performance AWD,29.990 €,123.000,2019,rojo,España

In [6]:
coches_copy=coches_ruben.copy()

In [7]:
for i in range(len(coches_ruben['modelo'])):
    serie=coches_ruben['modelo'][i].split()
    coches_ruben['modelo'][i] = serie[0] + ' ' + serie[1]

    # print(serie, coches_ruben['modelo'][i])

In [8]:
coches_ruben['modelo'].value_counts()

modelo
Model 3    237
Model S     89
Model X     21
Name: count, dtype: int64

In [9]:
coches_ruben['precio'][0].split()
for i in range(len(coches_ruben['precio'])):
    serie=coches_ruben['precio'][i].split()
    coches_ruben['precio'][i] = serie[0]

    # print(serie, coches_ruben['precio'][i])

In [10]:
coches_ruben

      modelo  precio kilometraje   año  color    pais
0    Model 3  25.990      63.000  2022   azul  España
1    Model 3  28.490      47.479  2020   azul  España
2    Model 3  25.940     124.839  2019   azul  España
3    Model 3  38.890      89.831  2019   azul  España
4    Model 3  29.700      21.318  2020   azul  España
..       ...     ...         ...   ...    ...     ...
342  Model 3  37.990   Eléctrico   Km0  plata  España
343  Model 3  29.990     123.000  2019   rojo  España
344  Model 3  33.990      74.910  2021   rojo  España
345  Model 3  27.900     125.000  2019   rojo  España
346  Model 3  29.990     123.000  2019   rojo  España

[347 rows x 6 columns]

In [11]:
coches_ruben['precio'] = coches_ruben['precio'].str.replace('.', '', regex=False)

In [12]:
coches_ruben['precio'] = coches_ruben['precio'].astype(int)
coches_ruben.dtypes

modelo         object
precio          int64
kilometraje    object
año            object
color          object
pais           object
dtype: object

In [13]:
coches_ruben[~(coches_ruben['kilometraje']!='Eléctrico')]

      modelo  precio kilometraje  año  color    pais
225  Model 3   37990   Eléctrico  Km0  plata  España
342  Model 3   37990   Eléctrico  Km0  plata  España

In [14]:
coches_copy[~(coches_copy['kilometraje']!='Eléctrico')]

,modelo,precio,kilometraje,año,color,pais
225,Model 3 Long-Range Dual Motor Performance AWD,37.990 €,Eléctrico,Km0,plata,España
342,Model 3 Long-Range Dual Motor Performance AWD,37.990 €,Eléctrico,Km0,plata,España

In [15]:
coches_ruben['kilometraje'][225] = 12
coches_ruben['año'][225] = 2023
coches_ruben.drop(index=342, inplace=True)

In [16]:
coches_ruben['kilometraje'] = coches_ruben['kilometraje'].str.replace('.', '', regex=False)

In [17]:
coches_ruben.isna().sum()

modelo         0
precio         0
kilometraje    1
año            0
color          0
pais           0
dtype: int64

In [18]:
coches_ruben['kilometraje'] = coches_ruben['kilometraje'].fillna(0).astype(int)
coches_ruben.dtypes

modelo         object
precio          int64
kilometraje     int64
año            object
color          object
pais           object
dtype: object

In [19]:
coches_ruben['año'].value_counts()

año
2021    71
2019    67
2020    56
2022    55
2023    24
2024    18
2018    18
2017    17
2016     7
2015     7
2014     5
2023     1
Name: count, dtype: int64

In [20]:
coches_ruben['año'] = coches_ruben['año'].astype(int)
coches_ruben.dtypes

modelo         object
precio          int64
kilometraje     int64
año             int64
color          object
pais           object
dtype: object

In [21]:
coches_ruben['color'].value_counts()

color
blanco     113
negro       69
gris        64
azul        51
rojo        28
marron       9
granate      7
plata        5
Name: count, dtype: int64

blanco, negro, plata, azul, rojo, gris, marron

In [22]:
coches_ruben['color'] = coches_ruben['color'].replace('granate', 'rojo', regex=False)

In [23]:
path="C:/Users/galla/Dropbox/PC/Documents/1 Pedro G Gallardo/Master IA y Big Data/Casa/proyecto tesla/ProyectoTesla/data/data_prepared"
os.chdir(path)

In [24]:
coches_ruben.to_csv('autocasion_prepared.csv', index=False, encoding='utf-8-sig', sep=';')