In [1]:
import pandas as pd
import os

# Ignorar todos los warnings
import warnings
warnings.filterwarnings("ignore")

In [4]:
path="C:/Users/galla/Dropbox/PC/Documents/1 Pedro G Gallardo/Master IA y Big Data/Casa/proyecto tesla/ProyectoTesla/data/raw/teslahunt"
os.chdir(path)
coches_raul = pd.read_csv('coches_raul.csv', sep=',')
coches_raul

,modelo,precio,matriculacion,kilometraje,color,pais
0,Tesla Model 3,33500,2023,39315,blanco,Spain
1,Tesla Model 3,36000,2024,1817,blanco,Spain
2,Tesla Model 3,37000,2024,676,blanco,Spain
3,Tesla Model 3,37000,2024,728,blanco,Spain
4,Tesla Model 3 Long Range RWD,41470,2025,10,blanco,Spain
...,...,...,...,...,...,...
523,Tesla Model 3 Performance,58790,2024,0,gris,France
524,Tesla Model X,112790,2024,15,gris,France
525,Tesla Model S Plaid,115680,2024,26,gris,France
526,Tesla Model X Plaid,117590,2024,20,gris,France
527,Tesla Model X Plaid,126890,2024,20,gris,France

In [6]:
coches_raul.rename(columns={'matriculacion': 'año'}, inplace=True)

In [5]:
coches_raul['modelo'].value_counts()

modelo
Tesla Model 3 Long Range AWD         103
Tesla Model Y Long Range AWD          78
Tesla Model 3                         71
Tesla Model 3 Performance             51
Tesla Model X                         36
Tesla Model Y Performance             33
Tesla Model Y Standard Range          31
Tesla Model Y Long Range RWD          25
Tesla Model S                         24
Tesla Model X Plaid                   15
Tesla Model S Plaid                   15
Tesla Model 3 Long Range RWD          12
Tesla Model X 100D                     7
Tesla Model 3 Standard Range Plus      7
Tesla Model S Long Range               4
Tesla Model X Long Range               4
Tesla Model S 75D                      3
Tesla Model X P100D                    2
Tesla Model X Long Range Plus          2
Tesla Model S 100D                     2
Tesla Model S Performance              2
Tesla Model X Performance              1
Name: count, dtype: int64

In [7]:
for i in range(len(coches_raul['modelo'])):
    serie=coches_raul['modelo'][i].split()
    coches_raul['modelo'][i] = serie[1] + ' ' + serie[2]

    # print(serie, coches_raul['modelo'][i])

coches_raul['modelo'].value_counts()

modelo
Model 3    244
Model Y    167
Model X     67
Model S     50
Name: count, dtype: int64

In [8]:
coches_raul.dtypes

modelo         object
precio          int64
año             int64
kilometraje     int64
color          object
pais           object
dtype: object

In [9]:
coches_raul['color'].value_counts()

color
blanco    175
negro     137
azul       95
rojo       61
plata      30
gris       30
Name: count, dtype: int64

In [10]:
coches_raul['pais'].value_counts()

pais
France      280
Spain       151
Portugal     97
Name: count, dtype: int64

In [11]:
for i in range(len(coches_raul['pais'])):
    if coches_raul['pais'][i]=='Spain':
        coches_raul['pais'][i]='España'
    elif coches_raul['pais'][i]=='France':
        coches_raul['pais'][i]='Francia'
    else:
        coches_raul['pais'][i]='Portugal'

coches_raul['pais'].value_counts()

pais
Francia     280
España      151
Portugal     97
Name: count, dtype: int64

In [13]:
path="C:/Users/galla/Dropbox/PC/Documents/1 Pedro G Gallardo/Master IA y Big Data/Casa/proyecto tesla/ProyectoTesla/data/data_prepared"
os.chdir(path)

In [14]:
coches_raul.to_csv('teslahunt_prepared.csv', index=False, encoding='utf-8-sig', sep=';')